* {
  font-family: "Lobster", "Nanum Gothic", sans-serif;
}
body {
  color: rgb(41, 57, 79);
  margin: 0 auto;

  height: 100vh;
}
#todo-list {
  overflow-y: auto;
  padding-left: 4rem;
  width: 25rem;
  color: white;
}
.todo {
  font-size: 2rem;
}
.delBtn {
  padding-right: 2rem;
  float: right;
  background-color: transparent;
  font-size: 90%;
  border: none;
  cursor: pointer;
}

.weather-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1%;
  right: 1%;
  color: whitesmoke;
}
.temp-container svg {
  font-size: 140%;
  margin-right: 0.5rem;
  margin-left: 1rem;
}
.temperature {
  width: fit-content;
  font-size: 150%;
  font-weight: 600;
}
.place {
  font-size: 100%;
  text-align: end;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input {
  position: relative;
  margin-top: 2rem;
  width: 25rem;
  height: 3rem;
  line-height: 3rem;
  padding-left: 0.5rem;
  padding: 0.2rem;
  text-align: center;
  color: whitesmoke;
  outline: none;
  border: 0;
  background-color: transparent;
  border-bottom: 0.2rem solid whitesmoke;
}
input::placeholder {
  font-size: 2rem;
  color: whitesmoke;
}

#clock {
  font-size: 1050%;
  font-weight: 500;
  color: white;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#greeting {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 337.5%;
  font-weight: 500;
  color: white;
}

.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.quote-container {
  margin-top: 5rem;
  width: 50rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

#quote {
  opacity: 1;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quote span:first-child {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

#quote span:last-child {
  font-size: 1.3rem;
}
